
.idea
.vscode
.roo
.codex
.planning
.cursor

node_modules
dist
package

*.md
!LICENSE

.env
.env.*
!.env.example

data
storage
log

docker-compose.yml
.dockerignore
.gitignore

*.exe
*.test
*.out
ezbookkeeping
!**/ezbookkeeping/
